<a href="https://colab.research.google.com/github/mos9z/1lab/blob/main/lab2/%D0%97%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Задание по практике 2

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
!pip install pandas
!pip install seaborn

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: seaborn in /usr/local/lib/python3.10/dist-packages (0.12.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in /usr/local/lib/python3.10/dist-packages (from seaborn) (1.23.5)
Requirement already satisfied: pandas>=0.25 in /usr/local/lib/python3.10/dist-packages (from seaborn) (1.5.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in /usr/local/lib/python3.10/dist-packages (from seaborn) (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.1.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.12.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.43.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.2)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25->seaborn) (2023.3.post1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)

In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

##Введение в описательную статистику

1. Выберите категориальную целевую переменную (**Y**)

2. Выберите переменную для анализа относительно категории (**X**)

3. Выведитие обобщенную статистическую информацию переменной (**X**)

2. Вычислите среднее, медиану, моду, минимум, максимум, стандартное отклонение относительно целевой пременной из файла Classification datasets в соответствии с вашим вариантом

3. Сделайте вывод относительно полученных результатов

p.s если у вас нет категориальных признаков - преобразуйте любой числовой в категориальный (https://pandas.pydata.org/docs/reference/api/pandas.cut.html). Важно **не** использовать преобразованный Y вместе с этим же X (то есть, если вы преобразовали возраст в категорию, то вы не моежет использовать возраст в качестве X и возраст категорию в качестве Y)

In [4]:
df = pd.read_csv("/content/drive/MyDrive/anime.csv")# чтение файла
df
#y - type; x - members

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
12290,5543,Under World,Hentai,OVA,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [5]:
df["type"].describe(include="all")

count     12269
unique        6
top          TV
freq       3787
Name: type, dtype: object

In [25]:

mean = df.groupby(['type'])['rating'].mean()

mean

type
Movie      6.318058
Music      5.588996
ONA        5.643298
OVA        6.375221
Special    6.523501
TV         6.902299
Name: rating, dtype: float64

In [24]:

median = df.groupby(['type'])['rating'].median()
median

type
Movie      6.470
Music      5.625
ONA        5.755
OVA        6.380
Special    6.630
TV         6.940
Name: rating, dtype: float64

In [23]:
mode = df.groupby('type')['rating'].agg(pd.Series.mode)
mode

type
Movie               6.0
Music      [5.79, 6.06]
ONA                 5.0
OVA                 6.0
Special            6.71
TV                  6.5
Name: rating, dtype: object

In [21]:
min = df.groupby(['type'])['rating'].min()
min

type
Movie      1.92
Music      3.28
ONA        2.58
OVA        2.00
Special    1.67
TV         2.67
Name: rating, dtype: float64

In [22]:
max = df.groupby(['type'])['rating'].max()
max

type
Movie      10.00
Music       8.38
ONA         8.26
OVA         9.25
Special     8.66
TV          9.60
Name: rating, dtype: float64

In [20]:
std = df.groupby(['type'])['rating'].std()
std

type
Movie      1.211988
Music      0.958440
ONA        1.127091
OVA        0.858358
Special    0.887762
TV         0.863526
Name: rating, dtype: float64

Вычислите следующие квантили: 25%, 50% (медиана), 75% для числового признака вашего датасета. Затем найдите интерквартильный размах.

In [30]:
q1 = df.groupby(['type'])['rating'].quantile(0.25) # (25% квантиль) ваш код здесь
q1

type
Movie      5.420
Music      5.010
ONA        4.870
OVA        5.850
Special    6.085
TV         6.440
Name: rating, dtype: float64

In [29]:
q2 = df.groupby(['type'])['rating'].quantile(0.5) # (50% квантиль) ваш код здесь
q2

type
Movie      6.470
Music      5.625
ONA        5.755
OVA        6.380
Special    6.630
TV         6.940
Name: rating, dtype: float64

In [28]:
q3 = df.groupby(['type'])['rating'].quantile(0.75) # (75% квантиль) ваш код здесь
q3

type
Movie      7.2500
Music      6.1525
ONA        6.4125
OVA        6.9200
Special    7.1100
TV         7.4600
Name: rating, dtype: float64

In [31]:
iqr = q3 - q1# (интерквартильный размах) ваш код здесь
iqr

type
Movie      1.8300
Music      1.1425
ONA        1.5425
OVA        1.0700
Special    1.0250
TV         1.0200
Name: rating, dtype: float64

Какие выводы можно сделать исходя из полученных статистических данных?

Исходя из всех выполненных выше вычислений, (max, min и median) можно сделать вывод, что в наборе данных присутствует выброс.

##Основы визуализации

 Постройте гистограмму переменной (X) относительно категориального признака (Y) из своего датасета.

In [17]:
import numpy as np
import matplotlib.pyplot as plt

# Пример гистограммы для возраста
plt.figure(figsize=(4, 3))
plt.hist(df['latitude'], bins=6, edgecolor='black')
plt.title('Гистограмма широт')
plt.xlabel('Широта')
plt.ylabel('Частота')
plt.show()

KeyError: ignored

Постройте boxplot любого признака из своего датасета.

1) boxplot числовой переменной;

2) boxplot числовой переменной относительно категориальный переменной;

*p.s. Если у вас только один числовой признак, преобразуйте категориальный при помощи LabelEncoder (https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html)*

In [ ]:
"""

Ваш код здесь

"""

In [ ]:
"""

Ваш код здесь

"""

Постройте диаграмму рассеивания для числовых признаков вашего датасета.

*p.s. Если у вас только один числовой признак, преобразуйте категориальный при помощи LabelEncoder (https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html)*

In [ ]:
"""

Ваш код здесь

"""

Постройте матрицу корреляции для двух числовых признаков вашего датасета.

In [ ]:
corr_matrix = #ваш код здесь
#вывод здесь

Какие выводы можно сделать на основе графиков и матрицы корреляции?

**Ответ здесь**

##Задание для гениев*

Реализовать следующие методы поиска выбросов:
1. На основе среднего и отклонения
2. Критерий Шовене
3. С помощью квартилей
4. Поиск выбросов по двум переменным

[Посмотреть](http://course.omgtu.ru/wp-content/uploads/2021/04/3_%D0%92%D1%8B%D0%B1%D1%80%D0%BE%D1%81%D1%8B.pdf)

P.S. в качестве возвразаемого значения методов может быть:
1. очищенный датафрейм
2. индексы выбросов ```df.series.index```

In [ ]:
"""

Ваш код здесь

"""

### Пример реализации одного метода

In [ ]:
from statistics import median, mean

class Outline:
  def __init__(self, df):
    self.df = df

  def delete_outline_by_mean(self, column_name):
    mean_data = mean(self.df[column_name])
    maximum = mean_data * 2
    result = []

    for item in self.df[column_name]:
      if abs(item - mean_data) < maximum:
        result.append(item)

    return result

In [ ]:
data = pd.DataFrame(
    data = {
        "col1": [1, 2, 3, 4, 5, 1000],
        "col2": [1, 2, 3, 2, 1, 4]
    }
)

so = Outline(data)
so.delete_outline_by_mean("col1")